:root {
  --primary-text-color: #212121;
  --second-text-color: #757575;
  --primary-white-color: #ffffff;
}

body {
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  background-color: var(--primary-white-color);
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  margin: 0;
  list-style: none;
}

.logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  color: #2196f3;
}

.logo-footer {
  color: #ffffff;
}

span {
  color: #000000;
}

.link:hover,
.link:focus {
  color: #2196f3;
}

.mail {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--second-text-color);
}

.tel {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--second-text-color);
}

.studio {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--primary-text-color);
}

.portfolio {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--primary-text-color);
}

.contact {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--primary-text-color);
}

.hero {
  margin: 0;
  padding: 0;
  background: #2f303a;
}

.title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  margin: 0;
  padding: 0;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--primary-white-color);
}

.button {
  background: #2196f3;
  color: white;
  border-radius: 4px;
  border: none;
  padding: 10px 32px 10px 32px;
  cursor: pointer;
  font-size: 16px;
  font-family: 'Roboto';
  text-align: center;
  height: 50px;
  margin-top: 30px;
}

.button:hover,
.button:focus {
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: white;
}

.btn {
  background: #f5f4fa;
  color: #212121;
  border-radius: 4px;
  border: none;
  padding: 6px 22px 6px 22px; 
  cursor: pointer;
  font-size: 16px;
  font-family: 'Roboto';
  text-align: center;
  height: 38px;
}

.btn:hover,
.btn:focus {
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: white;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.section-our-team {
  background: #f5f4fa;
}

address {
  font-style: normal;
}

footer {
  background: #2f303a;
  color: #ffffff;
}

/* .page-header {
background-color: aquamarine;
} */

.container {
  width: 1170px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.style {
  text-align: center;
}
